--
-- PostgreSQL database dump
--

\restrict gnPDDuPSrpI3hCo1NtbSbajDPSVRHvKXzTeKTMyaqnVtqkD0GEJnddnfhHgwQyU

-- Dumped from database version 18.6 (Debian 18.6-1.pgdg13+2)
-- Dumped by pg_dump version 18.6 (Debian 18.6-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: soc_events; Type: TABLE; Schema: public; Owner: soc_user
--

CREATE TABLE public.soc_events (
    event_id uuid NOT NULL,
    affected_entity character varying(255),
    correlation_id character varying(255),
    endpoint character varying(255),
    event_type character varying(255) NOT NULL,
    http_method character varying(255),
    message character varying(2000),
    service_name character varying(255) NOT NULL,
    severity character varying(255) NOT NULL,
    source_ip character varying(255),
    status_code integer,
    "timestamp" timestamp(6) without time zone NOT NULL,
    user_id character varying(255),
    source_event_id bigint,
    source_system character varying(255)
);


ALTER TABLE public.soc_events OWNER TO soc_user;

--
-- Data for Name: soc_events; Type: TABLE DATA; Schema: public; Owner: soc_user
--



--
-- Name: soc_events soc_events_pkey; Type: CONSTRAINT; Schema: public; Owner: soc_user
--

ALTER TABLE ONLY public.soc_events
    ADD CONSTRAINT soc_events_pkey PRIMARY KEY (event_id);


--
-- Name: soc_events uk_soc_events_source_event; Type: CONSTRAINT; Schema: public; Owner: soc_user
--

ALTER TABLE ONLY public.soc_events
    ADD CONSTRAINT uk_soc_events_source_event UNIQUE (source_system, source_event_id);


--
-- Name: idx_soc_events_source_event; Type: INDEX; Schema: public; Owner: soc_user
--

CREATE INDEX idx_soc_events_source_event ON public.soc_events USING btree (source_system, source_event_id);


--
-- PostgreSQL database dump complete
--

\unrestrict gnPDDuPSrpI3hCo1NtbSbajDPSVRHvKXzTeKTMyaqnVtqkD0GEJnddnfhHgwQyU

